[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "==2.12.2"
numpy = "*"
setuptools = "*"
wheel = "*"
notebook = "*"
pandas = "*"
nltk = "*"
sklearn = "*"
scikit-learn = "*"
joblib = "*"
dvc = "*"
dvc-gdrive = "*"
dslinter = "*"
mllint = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.17"
